body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/background.jpg);
}

p {
  font-weight: 600;

  font-size: 18px;
  color: #fdfdfd;
}

p.p2 {
  font-weight: 600;

  font-size: 14px;
  color: #fc4242;
  margin: 25px;
}

.container {
  display: grid;
  width: 100%;
  height: 120vh;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;

  grid-template-areas:
    "satu dua tiga empat lima"
    "satu dua tiga empat lima"
    "satu dua tiga empat lima"
    "satu dua tiga empat lima"
    "satu dua tiga empat lima";

  font-weight: 800;

  font-size: 12px;
  color: #fdfdfd;
  text-align: center;
}

.container img {
  max-height: 110px;
  max-width: 110px;
  margin: 10px;
}

.navbar img {
  max-height: 25px;
  max-width: 25px;
  margin: 10px;
}

ul li {
  list-style-type: none;
}

#satu {
  background: #ebba4a77;
  grid-area: satu;
}

#dua {
  background: #e8a03e77;
  grid-area: dua;
}
#tiga {
  background: #5ac6fa77;
  grid-area: tiga;
}
#empat {
  background: #459ce377;
  grid-area: empat;
}
#lima {
  background: #e3634d77;

  grid-area: lima;
}

.button {
  border-radius: 0px;
  font-family: Arial;
  color: #fff;
  font-size: 14px;
  background: #e0e0e050;
  padding: 10px;
  border: solid #fff 1px;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #3b3737;
  position: fixed;
  top: 250px;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "satu"
      "dua"
      "tiga"
      "empat"
      "lima";
    text-align: center;
  }

  .navbar {
    background-color: #3b3737;
    position: static;
  }

  .navbar img {
    max-height: 70px;
    max-width: 70px;
    margin: 10px;
  }
}
